DAKSH_ENVIRONMENT=development
DAKSH_CORS_ORIGINS=http://localhost:5173
DAKSH_CLOUDFLARE_ACCOUNT_ID=
DAKSH_CLOUDFLARE_D1_DATABASE_ID=
DAKSH_CLOUDFLARE_API_TOKEN=
DAKSH_R2_ACCOUNT_ID=
DAKSH_R2_ACCESS_KEY_ID=
DAKSH_R2_SECRET_ACCESS_KEY=
DAKSH_R2_BUCKET=dakshmusic3-audio
DAKSH_R2_ENDPOINT=
DAKSH_SESSION_SECRET=change-me
DAKSH_ADMIN_PASSWORD=
